*.asm
*.cache
*.CopyComplete
*.db
*.db-shm
*.db-wal
*.deps
*.exp
*.force
*.ipch
*.ide
*.ide-shm
*.ide-wal
*.lib
*.lock
*.log
*.metagen
*.nupkg
*.obj
*.opendb
*.p7s
*.pdb
*.tlog
*.user
*.xml
.vs/config/applicationhost.config
.vs/SolidityMiner/DesignTimeBuild/.dtbcache
.vs/SolidityMiner/v15/.suo
.vs/SoliditySHA3Miner/DesignTimeBuild/.dtbcache
.vs/SoliditySHA3Miner/v15/.suo
packages/Common.Logging.Core.3.4.1/lib/net40/Common.Logging.Core.dll
packages/Common.Logging.Core.3.4.1/lib/netstandard1.0/Common.Logging.Core.dll
packages/Common.Logging.Core.3.4.1/lib/portable-win+net40+sl40+wp7+wpa81/Common.Logging.Core.dll
packages/Microsoft.CSharp.4.5.0/lib/netcore50/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.5.0/lib/netstandard1.3/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.5.0/lib/netstandard2.0/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.5.0/LICENSE.TXT
packages/Microsoft.CSharp.4.5.0/ref/netcore50/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.5.0/ref/netstandard1.0/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.5.0/ref/netstandard2.0/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/Microsoft.CSharp.4.5.0/version.txt
packages/Nethereum.Portable.2.5.1/lib/portable45-net45+win8+wpa81/Nethereum.Portable.dll
packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.11.0.2/LICENSE.md
packages/Portable.BouncyCastle.1.8.2/lib/net40/BouncyCastle.Crypto.dll
packages/Portable.BouncyCastle.1.8.2/lib/netstandard1.0/BouncyCastle.Crypto.dll
packages/Portable.BouncyCastle.1.8.2/lib/netstandard1.3/BouncyCastle.Crypto.dll
packages/Portable.BouncyCastle.1.8.2/lib/netstandard2.0/BouncyCastle.Crypto.dll
packages/Portable.BouncyCastle.1.8.2/lib/portable-net40+sl5+win8+wp8+wpa81/BouncyCastle.Crypto.dll
packages/Microsoft.CSharp.4.5.0/lib/MonoAndroid10/_._
packages/Microsoft.CSharp.4.5.0/lib/MonoTouch10/_._
packages/Microsoft.CSharp.4.5.0/lib/net45/_._
packages/Microsoft.CSharp.4.5.0/lib/netcoreapp2.0/_._
packages/Microsoft.CSharp.4.5.0/lib/portable-net45+win8+wp8+wpa81/_._
packages/Microsoft.CSharp.4.5.0/lib/uap10.0.16299/_._
packages/Microsoft.CSharp.4.5.0/lib/win8/_._
packages/Microsoft.CSharp.4.5.0/lib/wp80/_._
packages/Microsoft.CSharp.4.5.0/lib/wpa81/_._
packages/Microsoft.CSharp.4.5.0/lib/xamarinios10/_._
packages/Microsoft.CSharp.4.5.0/lib/xamarinmac20/_._
packages/Microsoft.CSharp.4.5.0/lib/xamarintvos10/_._
packages/Microsoft.CSharp.4.5.0/lib/xamarinwatchos10/_._
packages/Microsoft.CSharp.4.5.0/ref/MonoAndroid10/_._
packages/Microsoft.CSharp.4.5.0/ref/MonoTouch10/_._
packages/Microsoft.CSharp.4.5.0/ref/net45/_._
packages/Microsoft.CSharp.4.5.0/ref/netcoreapp2.0/_._
packages/Microsoft.CSharp.4.5.0/ref/portable-net45+win8+wp8+wpa81/_._
packages/Microsoft.CSharp.4.5.0/ref/uap10.0.16299/_._
packages/Microsoft.CSharp.4.5.0/ref/win8/_._
packages/Microsoft.CSharp.4.5.0/ref/wp80/_._
packages/Microsoft.CSharp.4.5.0/ref/wpa81/_._
packages/Microsoft.CSharp.4.5.0/ref/xamarinios10/_._
packages/Microsoft.CSharp.4.5.0/ref/xamarinmac20/_._
packages/Microsoft.CSharp.4.5.0/ref/xamarintvos10/_._
packages/Microsoft.CSharp.4.5.0/ref/xamarinwatchos10/_._
packages/Microsoft.CSharp.4.5.0/useSharedDesignerContext.txt
SoliditySHA3Miner/obj/x64/Debug/SoliditySHA3Miner.csproj.FileListAbsolute.txt
SoliditySHA3Miner/obj/x64/Debug/SoliditySHA3Miner.exe
SoliditySHA3Miner/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SoliditySHA3Miner/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SoliditySHA3Miner/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SoliditySHA3Miner/obj/x64/Release/SoliditySHA3Miner.csproj.FileListAbsolute.txt
SoliditySHA3Miner/obj/x64/Release/SoliditySHA3Miner.exe
SoliditySHA3Miner/obj/x64/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SoliditySHA3Miner/obj/x64/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SoliditySHA3Miner/obj/x64/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CudaSoliditySHA3Solver/x64/Debug/CudaSoliditySHA3Solver.dll
CudaSoliditySHA3Solver/x64/Debug/Resource.res
CudaSoliditySHA3Solver/x64/Release/CudaSoliditySHA3Solver.dll
CudaSoliditySHA3Solver/x64/Release/Resource.res
OpenCLSoliditySHA3Solver/x64/Debug/OpenCLSoliditySHA3Solver.dll
OpenCLSoliditySHA3Solver/x64/Debug/OpenCLSoliditySHA3Solver.exe
OpenCLSoliditySHA3Solver/x64/Debug/sha3Kernel.cl
OpenCLSoliditySHA3Solver/x64/Release/OpenCLSoliditySHA3Solver.dll
OpenCLSoliditySHA3Solver/x64/Release/sha3Kernel.cl
x64/Debug/0xbch.abi
x64/Debug/0xbtc.abi
x64/Debug/0xbtcPool.bat
x64/Debug/BouncyCastle.Crypto.dll
x64/Debug/Common.Logging.Core.dll
x64/Debug/CudaSoliditySHA3Solver.dll
x64/Debug/kiwi.abi
x64/Debug/Nethereum.Portable.dll
x64/Debug/Newtonsoft.Json.dll
x64/Debug/OpenCLSoliditySHA3Solver.dll
x64/Debug/Readme.txt
x64/Debug/sha3Kernel.cl
x64/Debug/SoliditySHA3Miner.exe
x64/Debug/SoliditySHA3Miner.exe.config
x64/Release/0xbch.abi
x64/Release/0xbtc.abi
x64/Release/0xbtcPool.bat
x64/Release/BouncyCastle.Crypto.dll
x64/Release/Common.Logging.Core.dll
x64/Release/CudaSoliditySHA3Solver.dll
x64/Release/kiwi.abi
x64/Release/Nethereum.Portable.dll
x64/Release/Newtonsoft.Json.dll
x64/Release/OpenCLSoliditySHA3Solver.dll
x64/Release/Readme.txt
x64/Release/sha3Kernel.cl
x64/Release/SoliditySHA3Miner.exe
x64/Release/SoliditySHA3Miner.exe.config
x64/Debug/0xCATE.abi
x64/Debug/0xLTC.abi
x64/Debug/ATA.abi
x64/Debug/SKO.abi
x64/Release/0xCATE.abi
x64/Release/0xLTC.abi
x64/Release/ATA.abi
x64/Release/SKO.abi
x64/Debug/0xbtcSolo.bat
x64/Release/0xbtcSolo.bat
x64/Debug/CPUSoliditySHA3Solver.dll
x64/Release/CPUSoliditySHA3Solver.dll
OpenCLSoliditySHA3Solver/x64/Debug/Resource.res
CPUSoliditySHA3Solver/x64/Debug/Resource.res
CPUSoliditySHA3Solver/x64/Release/Resource.res
x64/Debug/0xGOLD.abi
x64/Release/0xGOLD.abi
x64/Debug/sha3kingKernel.cl
x64/Release/sha3kingKernel.cl
OpenCLSoliditySHA3Solver/x64/Release/sha3kingKernel.cl
CPUSoliditySHA3Solver/x64/Debug/vc141.idb
OpenCLSoliditySHA3Solver/x64/Release/Resource.res
x64/Debug/CPUSoliditySHA3Solver.ilk
x64/Release/CPUSoliditySHA3Solver.iobj
x64/Release/CPUSoliditySHA3Solver.ipdb
x64/Debug/CudaSoliditySHA3Solver.ilk
x64/Release/CudaSoliditySHA3Solver.iobj
x64/Release/CudaSoliditySHA3Solver.ipdb
CudaSoliditySHA3Solver/x64/Debug/vc141.idb
x64/Release/OpenCLSoliditySHA3Solver.ipdb
x64/Release/OpenCLSoliditySHA3Solver.iobj
